//.row.publications-wrapper.page-content-wrapper-box-shadow
//  .columns.large-12
//    .row
//      .columns.large-5
//        .title-about-us
//          h3
//            |Публікації
//      .columns.large-7
//        = render :partial => 'partials/publictions_sidebar'
/.row
/  .columns.large-12
/    #visual_constructor
/      #vc_navigation
/        #vc_views
/        #vc_controls
/          .vcc_backgrounds
/            .item
/              a
/                img src=asset_path('Render_1.jpg')
/            .item
/              a
/                img src=asset_path('Render_2.jpg')
/            .item
/              a
/                img src=asset_path('Render_3.jpg')
/          .vcc_tabs
/
/
/
/
/
/
